<app-header></app-header>
<div class=blank></div>
<div class="row" style="background: #F6F9FC">
<div data-aos="fade-up"
data-aos-offset="120"
data-aos-delay="50"
data-aos-duration="300"
data-aos-easing="linear"
data-aos-mirror="false"
data-aos-once="true"
data-aos-anchor-placement="top-center" class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 firstparagraph">
    <h1 class ="firstparaheading">Blockchain for the Enterprise of Future </h1>
    <p class="firstparacontent">
    At Zooliy, our aim is to empower every person and every organization on the planet to achieve trust.
    Our mission is to bring the world on Blockchain.
    </p><a href="#" class="common-Button" style="margin-right:20px;color:white;background-color:#33DF98;">
        Create account
      </a><a href="contact" class="common-Button">
        Contact Sales
      </a>
</div>
  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
    <img  draggable="false" onmousedown="return false" style="user-drag: none" class="firstimg" src="../../../assets/first.gif">
</div>
</div>
<div class="row"  style="background: white">
  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
          <img   draggable="false" onmousedown="return false" class="secondimg" src="../../../assets/second.gif">
  </div>
  <div data-aos="fade-up"
  data-aos-offset="120"
  data-aos-delay="50"
  data-aos-duration="300"
  data-aos-easing="linear"
  data-aos-mirror="false"
  data-aos-once="true"
  data-aos-anchor-placement="top-center" class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 secondparagraph">
  <img  class="secondbuildingimg"   draggable="false" onmousedown="return false"  src="../../../assets/secondbuilding.gif">
      <h1 class ="secondparaheading">DESIGINING FUTURE  </h1>
      <p class="secondparacontent">
          Blockchain technology is redefining the concept of trust and transforming how we think about the structures of everyday life, from identity to economics, and government. It pushes us to think systemically and at larger scales.
           We are committed to building the decentralized future.
      </p>
  </div>
</div>
<div class="row" style="background: #F6F9FC">
  <div data-aos="fade-up"
  data-aos-offset="120"
  data-aos-delay="50"
  data-aos-duration="300"
  data-aos-easing="linear"
  data-aos-mirror="false"
  data-aos-once="true"
  data-aos-anchor-placement="top-center" class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 thirdpara">
  <img  class="thirdwheelimg"   draggable="false" onmousedown="return false"  src="../../../assets/thirdwheel.gif">
      <h1 class ="thirdparaheading">DEVELOPERS FIRST </h1>
      <p class="thirdparacontent">
          We believe that trust is a problem rooted in nature, not process. We obsessively seek out elegant, composable abstractions that enable robust, scalable, flexible integrations. Because we eliminate needless complexity and extraneous details, you can get up and running with Zooliy in just a couple of minutes.   
      </p>
  </div>
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
      <img  class="thirdimg"  draggable="false" onmousedown="return false"  src="../../../assets/third.gif">
  </div>
  </div><div class="row column" style="background: #ffffff" >
  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 thirdpara border1">
      <img  class="fifthimg"    draggable="false" onmousedown="return false" src="../../../assets/fourth.gif">
      <h1 class ="heading">ALWAYS IMPROVING </h1><br>
      <p >
              Zooliy is an always-improving toolchain that gains new features every month. Our world-class engineering team constantly iterates upon every facet of the Zooliy stack. And from Hyperledger to EOS, building on Zooliy means you get early access to the latest technologies.
        </p>
  </div>
  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 thirdpara border1">
      <img  class="fourthimg"   draggable="false" onmousedown="return false"  src="../../../assets/fifth.gif">
      <h1 class ="heading">GLOBAL SCALE</h1><br>
      <p >
          In the process we happen to make adoption of blockchain application for consumers and enterprise all over the world, a smoother experience by building a permissioned blockchain ecosystem with a single Distributed Ledger Technology.
        </p>
</div>
<div class="row ">
  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 projectheading">
      <div class="projecth1" >Got a Project? Let's Talk </div>
      <div class="projecth5">So what's next we are ready...</div>
    </div>
<div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 projectcol">
        <div class="item">
            <a href="/contact">
                <img class="logo1"   draggable="false" onmousedown="return false"   src="../../../assets/logo1.png">
          <h3 class="projectitem">Brainstorm</h3>
          <div class="projectcontent">Talk to our expert</div>
        </a>  </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 projectcol">
            <div class="item2"><a routerLink="/signin">
              <img class="logo2"   draggable="false" onmousedown="return false"   src="../../../assets/logo2.png">
          <h3 class="projectitem">Register</h3>
          <div class="projectcontent">Register for the pilot</div>
        </a>
      </div>
        </div>
            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 projectcol">
                <div class="item3"><a routerLink="/signin">
                    <img class="logo3"   draggable="false" onmousedown="return false"   src="../../../assets/logo3.png">
          <h3 class="projectitem">Zooliy</h3>
          <div class="projectcontent">Integrate the final product</div>
        </a>
        </div>
      </div>
   </div></div>
<app-footer></app-footer>
<app-copyright></app-copyright>